<%- include('partials/header') %> 
<h1>Home Page</h1>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam odit, doloribus consequuntur sed ex consequatur numquam ducimus sequi nulla? Nisi, ducimus quo! Quasi esse reiciendis ullam ut blanditiis, sapiente et.</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad quos pariatur recusandae doloribus ullam non sunt facere vero tenetur quae quibusdam eaque, ut quia illo beatae dignissimos necessitatibus porro ea?</p>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe voluptate sunt minima. Iusto, voluptates quae! Porro unde repellat delectus! Sapiente possimus totam ipsum pariatur atque saepe soluta qui. Aspernatur, quos!</p>
<%- include('partials/footer') %> 